test_flow_tcp.json
[{"id":"edcae5770dc3cd31","type":"tab","label":"Goodtech_Ethernet","disabled":false,"info":""},{"id":"113285f2c7d84351","type":"inject","z":"edcae5770dc3cd31","name":"All Low","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"relay_1\":0,\"relay_2\":0,\"dac_1\":0,\"dac_2\":0}","payloadType":"json","x":170,"y":120,"wires":[["1aa28b28489f4f65"]]},{"id":"98f5d947cd8a2056","type":"inject","z":"edcae5770dc3cd31","name":"All High","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"relay_1\":1,\"relay_2\":1,\"dac_1\":4095,\"dac_2\":4095}","payloadType":"json","x":170,"y":160,"wires":[["1aa28b28489f4f65"]]},{"id":"bac5e311d088dc13","type":"tcp out","z":"edcae5770dc3cd31","d":true,"host":"","port":"3000","beserver":"server","base64":false,"end":false,"name":"","x":630,"y":140,"wires":[]},{"id":"1aa28b28489f4f65","type":"function","z":"edcae5770dc3cd31","name":"","func":"newMsg = JSON.stringify(msg.payload);\nmsg.payload = newMsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":140,"wires":[["bac5e311d088dc13"]]}]
